@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
    themes: luxury --default;
}

html {
	scroll-behavior: smooth;
}

i.icon-fix {
    transform: translateY(-0.08rem);
}

a, button, ul, li {
	transition: 0.3s ease;
}

.divider-base-content:before, .divider-base-content:after {
    background-color: var(--color-base-content);
}

.font-cursive {
    font-family: 'Meow Script', cursive, sans-serif;
}

.btn-lucian {
    border: 1px solid var(--color-base-content);
    background-color: var(--color-base-content);
    color: var(--color-base-100);
    transition: all 0.2s ease-in-out;
}

.btn-lucian-translucent {
    border: 1px solid var(--color-base-content);
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    transition: all 0.2s ease-in-out;
}

.btn-lucian:hover {
    border: 1px solid var(--color-white);
    background-color: var(--color-white);
    color: var(--color-base-100);
}

.btn-lucian-translucent:hover {
    border: 1px solid var(--color-neutral-300);
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-white);
}

.btn-lucian-translucent:focus {
    border: 1px solid var(--color-base-content);
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--color-base-content);
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
    display: inline-block;
}
