@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
    themes: luxury --default;
}

html {
	scroll-behavior: smooth;
}

i.icon-fix {
    transform: translateY(-0.08rem);
}

a, button, ul, li {
	transition: 0.3s ease;
}

.divider-base-content:before, .divider-base-content:after {
    background-color: var(--color-base-content);
}

.font-cursive {
    font-family: 'Meow Script', cursive, sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.btn-lucian-translucent {
    border-radius: 0;
    border-bottom: 2px solid var(--color-base-content);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.btn-lucian-translucent:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
}

.btn-lucian-translucent:focus {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.8);
}